* {
  box-sizing: border-box;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
}

body,
input,
a,
button,
textarea {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 400;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  line-height: 1;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

ul {
  list-style: none;
  padding: 0;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}





